body
{
  background-image: url( '../images/transformers_01.jpg' );
}

#movie-site
{
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  min-height: 800px;
}

#movie-header
{
  color: #FFFFFF;
  min-height: 40px;
}

#movie-content
{
  color: #FFFFFF;
  background-color: #1F1F1F;
  opacity: 0.9;
}

#movie-footer
{
  color: #FFFFFF;
  min-height: 40px;
  vertical-align: text-bottom;
}