body
{
  /*
  background-image: url( '../images/transformers_01.jpg' );
  background-image: url( '../images/avatar_01.jpg' );
  background-image: url( '../images/hulk_01.jpg' );
  background-image: url( '../images/300_01.jpg' );
  background-image: url( '../images/friday13th_01.jpg' );
  background-image: url( '../images/manofsteel_01.jpg' );
  */

  background-image: url( '../images/avatar_01.jpg' );
  background-size: 100%;
}


a:link, a:visited, a:active
{
  color: #FFFFFF;
}

a:hover
{
  color: #F0C030;
}

#site
{
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  min-height: 800px;
}

#header
{
  color: #FFFFFF;
  min-height: 60px;
}

#content
{
  color: #FFFFFF;
  opacity: 0.9;
}

#footer
{
  color: #FFFFFF;
  min-height: 40px;
  vertical-align: text-bottom;
}



/**
 * Navigation and Search bar in header.html
 */
.navigation-container
{
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  display: inline-table;
  position: relative;
  padding: 0;
  margin: 0;
}

.navigation
{
  width: 120px;
  height: 40px;
  background-color: #1F1F1F;
  opacity: 0.9;
  text-align: center;
  float: left;
}

.navigation-link
{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

#search-container
{
  float: right;
  width: 300px;
  height: 40px;
  display: inline-flex;
  background-color: #1F1F1F;
  opacity: 0.9;
}

#search-input
{
  width: 250px;
  height: 27px;
  margin: 5px;
  background-color: #737373;
  border: 0;
}

#search-image
{
  padding: 5px;
  height: 30px;
  width: 30px;
}



/**
 * Table for movie data in content.html
 */
#table-container
{
  width: 100%;
}

.movie-table
{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.header-row
{
  width: 100%;
  height: 24px;
  background-color: #191919;
}

.data-row
{
  background-color: #1F1F1F;
  width: 100%;
  height: 24px;
}

.filter-input
{
  height: 24px;
  width: 100%;
  background-color: #737373;
  border-width: 0;
  color: #FFFFFF;
  font-size: 12pt;
}

/* nth-child has to be bevore hover, else even rows would not be highlighted */
.data-row:nth-child(even)
{
  background-color: #191919;
}

.data-row:hover
{
  background-color: #737373;
}

.data-column-00
{
  width: 40%;
}

.data-column-01
{
  width: 40%;
}

.data-column-02
{
  width: 10%;
}

.data-column-03
{
  width: 10%;
}

.table-spacer
{
  width: 100%;
  height: 24px;
  background-color: transparent;
  opacity: 0;
}

#table-paging
{
  background-color: #1F1F1F;
  text-align: center;
  width: 100%;
}


/*
  Divs for the startoptions and the details
  table row containing these divs
*/

#expand-row
{
  width: 100%;
  height: 87px;
}

#expand-cell
{
  width: 100%;
}

#start-options
{
  width: 25%;
  height: 87px;
  background-color: #191919;
  float: left;
  margin-left: 50px;
}

#movie-details
{
  width: 65%;
  height: 87px;
  background-color: #191919;
  float: right;
  margin-right: 50px;
}

.start-option-row
{
  margin-left: 5px;
  height: 25px;
  line-height: 25px;
  margin-top: 3px;
}

.start-option-col-00
{
  float: left;
  width: 30%;
}

.start-option-col-01
{
  float: left;
  width: 68%;
  text-align: center;
}

.start-option-select
{
  width: 100%;
  border: 0;
  background-color: #737373;
  color: #FFFFFF;
}

.start-option-button
{
  width: 50%;
  background-color: #737373;
  border: 0;
  color: #FFFFFF;
  font-weight: bold;
}


/* Paging styles */
#paging-info
{
  width: 150px;
  float: left;
  margin-top: 2px;
}

#paging-content
{
  width: 360px;
  display: inline-block;
  margin-top: 4px;
}

.paging-button:disabled
{
  background-color: #191919;
  color: #737373;
}

.paging-button
{
  width: 40px;
  background-color: #737373;
  border: 0;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}